@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext);
@import url(tablet.css);
@import url(phone.css);

body {
    font-family: Merriweather !important;	
}

/* Options */
.modal-content {
    border-radius: 0 !important;
}

@media screen and (max-width:992px) {
    
    .col-xs-12 {
        text-align: center !important;
    }
    .col-xs-12 .center-title {
        margin: 60px 0 0 0 !important;
        display: block;
        text-align: center !important;
    }
}

@media screen and (max-width:768px) {
    
    .arrows-btn::before, .arrows-btn::after {
        display: none;
    }
}

/* Upload img profile */
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + .inputfile-label {
    padding: 10px 25px;
    font-size: 1.25rem;
    background: #cc3333;
    color: #FFFFFF;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.acc-photo-inn {
    padding: 15px;
    border: 1px solid #DDDDDD;
}
.acc-photo-upload {
    width: 500px !important;
    height: auto !important;
}
a {
    color: #cc3333 !important;
}
a:hover {
    color: #444444;
}
.red-btn {
    padding: 5px 15px;
    background: #cc3333;
    color: #FFFFFF !important;
    cursor: pointer !important;
}
.go-login {
    margin: 15px 0;
    width: 250px !important;
}
.margin-10 {
    margin: 50px 0 10px 0 !important;
}
.nat-patt {
    height: 18px;
    background: url(../images/national_pattern.png) repeat;
}
.center-title {
    margin: 50px 0;
    color: #444444;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
}
.arrows-btn {
    position: relative;
    display: table;
    margin: 50px auto;
    padding: 0 50px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border: none;
    color: #cc3333;
}
.arrows-btn:hover {
    text-decoration: none;
}
.arrows-btn::before {
    position: absolute;
    top: 10%;
    left: -40px;
    width: 40px;
    height: 70px;
    content: ' ';
    background: url(../images/left_arrow.png) no-repeat;
    transition: .3s all;
}
.arrows-btn::after {
    position: absolute;
    top: 10%;
    right: -40px;
    width: 40px;
    height: 70px;
    content: ' ';
    background: url(../images/right_arrow.png) no-repeat;
    transition: .3s all;
}
.arrows-btn:hover::before {
    left: -100px;
    transition: .5s all;
}
.arrows-btn:hover::after {
    right: -100px;
    transition: .5s all;
}
.red-square {
    width: 30px;
    height: 30px;
    background: #cc3333;
    border: 8px solid #FFFFFF;
}


/* Top Bar */
.top-bar {
    padding: 10px 0;
}
.user-bar {

}
.notification-menu {

}
.notification-menu span, .notif-count {
    padding: 0 5px;
    background: #cc3333;
    color: #FFFFFF;
}
.no-notification span {
    background: #DDDDDD !important;
    color: #cc3333 !important;
}
.donate-bar {
    text-align: right;
}
.donate-bar > a {
    color: #cc3333 !important;
}
/* Notification */
.notification-inn {

}
.notification-item {
    padding: 5px 15px;
}
.notification-item a {	
    margin: 15px 0;
    padding: 15px;
    display: block;
    color: #444444 !important;
}
.notification-item a:hover  {
    text-decoration: none;
}
.notification-item i {
    display: inline-block;
    width: 18px;
}
.notification-item span {
    margin: 0 0 0 18px;
    display: block;
}
.notification-item {
    padding: 5px 15px;
}
.notification-item a {	
    padding: 15px;
    display: block;
    font-size: 12px;
    color: #444444 !important;
}
.notification-item a:hover  {
    text-decoration: none;
}
.notification-item i {
    display: inline-block;
    width: 18px;
}
.notification-item span {
    margin: 0 0 0 18px;
    display: block;
}
.notification-item time {
    padding: 0 0 0  20px;
    color: #ba4b39;
}

/* Header */		
.header {
    margin: 0;
    padding: 15px 0;
    text-align: center;
    color: #cc3333;
}
.logo-bar {

}
.top-text {
    margin: 50px 0;
}
.top-text h2 {
    font-size: 26px;
    line-height: 32px;
}

/* Home Block */
.home-block {
    margin: 0 0 50px 0;
}	

/* Cum functioneaza? */
.cum-fun {
    text-align: center;
}	
.cum-fun > span {
    display: block;
    margin: 0 0 15px 0;
    color: #cc3333;
    font-size: 50px;
    font-weight: bold;
}	
.cum-fun > p {
    font-size: 16px;
}

/* Profiles (Tarani) */
.select-judet {
    display: inline-block;
}
.select-judet i {
    font-size: 30px;
    color: #cc3333;
}
.select-judet select {
    cursor: pointer;
    border: 0;
    padding: 0 5px;
    margin: 0;
    background: transparent;
    color: #cc3333;
    text-transform: uppercase;
    width: 300px;
    -webkit-appearance: none;
}
.select-judet select::-ms-expand {
    display: none;
}
.select-judet select:focus {
    outline: 0;
}
.select-judet select option {
    padding: 0 15px;
    font-size: 16px;
    text-transform: inherit;
}


.profile-item {
    margin: 0 0 50px 0;
    height: 320px;
}	
.profile-item > a {
    color: #444444 !important;
}
.profile-item > a:hover {
    text-decoration: none;
    color: #cc3333 !important;
}
.profile-item-img {
    position: relative;
    height: 240px;
    overflow:hidden;
}
.profile-item-img > .red-square {
    position: absolute;
    bottom: 0;
    right: 0;
}
.profile-item-img > img {
    width: 100%;
}
.profile-item h3 {
    margin: 10px 0;
    color: #cc3333;
    text-transform: uppercase;
}
.profile-item p {
    margin: 0;
    text-transform: uppercase;
}

/* News (Ultimele articole in presa) */
.news-item {
    margin: 0 0 50px 0;
}	
.news-item a {
    color: #444444 !important;
}
.news-item a:hover {
    color: #cc3333 !important;
    text-decoration: none;
}
.news-item a:hover span {
    color: #000000 !important;
}
.news-item h2 {
    margin: 0;
    padding: 10px 0;
    color: #cc3333;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    height: 65px;
    line-height: 18px;
}
.news-item span {
    font-size: 11px;
    color: #777777;
}

/* Partners Block */
.partners-block {

    width: 100%;
    text-align: center;
}		

/* Pina la footer */
.before-foot {

}	
.before-foot .center-title {
    margin: 10px 0;
    text-align: left;
}
.newsletter-block {

}
.newsletter-block input {
    padding: 2px 15px;
    border: none;
    border-left: 2px solid #cc3333;
    border-bottom: 2px solid #cc3333;
}
.newsletter-block button {
    float: right;
    padding: 2px 15px;
    display: inline-block;
    background: #FFFFFF;
    color: #cc3333;
    font-weight: bold;
    border: none;
    
    border-right: 2px solid #cc3333;
    border-bottom: 2px solid #cc3333;
}		
.newsletter-block input:focus, .newsletter-block button {
    outline: none;
}
.bottom-menu {
    text-align: right;
}
.bottom-menu .center-title {
    text-align: right;
}
.bottom-menu > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.bottom-menu > ul > li {
    display: block;
}
.bottom-menu > ul > li > a {
    display: block;
    color: #cc3333;
    font-size: 18px;
}

/* Login Page */
.login-form {
    float: none !important;
    margin: 0 auto;
}		
.login-form input, .login-form select, .login-form textarea {		
    padding: 2px 15px;
    width: 100%;
    border: none;
    
    border-bottom: 2px solid #cc3333;
}
.login-form input[type="radio"] {			
    display: none;
}
.login-lbl {
    padding: 5px 15px;
    background: #FFFFFF;
    color: #cc3333;
    border: 1px solid #cc3333;
    cursor: pointer;
}

.login-form input[type="radio"]:checked + .login-lbl {
    background: #cc3333;
    border: 1px solid #cc3333;
    color: #FFFFFF;
}

.login-form input:focus, .login-form button:focus, .login-form select:focus, .login-form textarea:focus {
    outline: none !important;
}

/* Profil (Pagina producatorului) */


.week-cart-block {
    margin: 15px 15px 15px 0;
    padding: 15px;
    border: 1px solid #EEEEEE;
}
.week-cart-icon {
    font-size: 50px;
    text-align: center;
    color: #cc3333;
}
.week-cart-price {
    text-align: center;
}
.week-cart-price > span {
    font-size: 60px;
}
.week-cart-price > span > sup {
    font-size: 20px;
    top: -30px;
    left: -10px;
}
.week-cart-price > a {
    display: block;
    font-size: 18px;
}






.profile-img {
    margin: 0 0 30px 0;
}	
.profile-desc {
    font-size: 12px;
}
.profile-products {

}	
.profile-products > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.profile-products > ul > li {
    display: block;
    margin: 15px 0;
}
.profile-products > ul > li > a {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
}
.profile-products > ul > li > ul {				
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
}
.product-item {
    display: block;	
    margin: 5px 0;
}
.product-item > strong {
    display: inline-block;
    width: 50%;
}
.product-item > span {
    display: inline-block;
    width: 25%;
}			
.product-item > input {
    display: inline-block;
    width: 10%;
    text-align: center;
    border: none;
    
    border-bottom: 2px solid #cc3333;
}
.product-item > a {
    display: inline-block;
    width: 10%;
    text-align: center;
    font-size: 22px;
}
.more-prods {
    display: block;

    overflow: hidden;
}
.more-prods strong {
    display: inline-block;
    width: 55%;
}
.more-prods span {
    display: inline-block;
    width: 20%;
}
.more-prods i.fa {
    display: inline-block;
    width: 18%;
    color: #cc3333;
    font-weight: bold;
    text-align: right;
}
.more-prods > a {
    display: inline-block;
    margin: 0; 
    color: #DDDDDD !important;
    width: 12px;
    text-align: left;
    font-size: 12px;
}

.profile-products > ul > li > ul > li > ul {				
    margin: 0 0 0 20px;
    padding: 0;
    list-style-type: none;
}
.more-prods > ul {
    margin-right: 7px !important;
}
.profile-gallery {

}	
.profile-gallery a {
    margin: 15px 0;
    display: block;
    height: 100px;
    overflow: hidden;
    border: 1px solid #cc3333;
    text-align: center;
    opacity: .8;
}
.profile-gallery a img {
    height: 100px;
}
.profile-gallery a:hover {
    opacity: 1;
}
.profile-comments {

}			
.profile-comments input {		
    padding: 2px 15px;
    width: 100%;
    border: none;
    
    border-bottom: 2px solid #cc3333;
}	
.profile-comments textarea {		
    padding: 5px;
    width: 100%;
    border: none;
    border-left: 2px solid #cc3333;
    border-bottom: 2px solid #cc3333;
}


.profile-comments input:focus, .profile-comments button, .profile-comments textarea {
    outline: none !important;
}

.list-zile {
    margin: 0;
    padding: 0;
    list-style-type: none;
}	
.list-zile > li {
    display: block;
    margin: 5px 0;
    padding: 5px 0;
}
.list-zile > li > strong {
    display: inline-block;
    padding: 0 15px 0 0;
    width: 100px;
    border-bottom: 1px solid #DDDDDD;
}
.list-zile > li > span {
    display: inline-block;
    margin: 0;
    border-bottom: 1px solid #DDDDDD;
}
.profile-contacts {

}	
.profile-contacts i {
    margin: 0 15px 0 0;
    font-size: 30px;
    vertical-align: middle;
}
.profile-rating {
    font-size: 18px;
}			
.profile-rating i {
    cursor: pointer;
    font-size: 30px;
    margin: 0 15px 0 0;
    color: #ffcc33;
    vertical-align: middle;
}
.profile-rating small {
    font-size: 12px;
    color: #444444;
}		
.profile-news {

}	
.profile-news article {
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #EEEEEE;
}
.profile-news a {
    display: block;
}
.profile-news time {
    color: #777777;
}


/* Header pentru cei logati */
.acc {

}				
.acc .logo-bar {		
    padding: 15px 0;
}
.acc .logo-bar img {
    height: 150px;
}

.acc .acc-cart {
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #cc3333;
}
.acc .acc-cart a {

}
.acc .acc-cart a:hover {
    text-decoration: none;
}
.acc .acc-cart i {
    font-size: 70px;
    color: #DDDDDD;
}
.acc .acc-cart strong {
    margin: 10px 0;
    display: block;
    color: #444444;
    font-size: 30px;
}
.acc .acc-cart strong > sup {
    font-size: 12px;
    color: #444444;
}
.acc .acc-cart span {
    display: block;

}
.acc .user-bar {

    padding: 15px 0;
}
.acc .user-bar .acc-inn {		
    height: 150px;
}
.acc-photo {	
    margin: 0 0 9px 0;
    display: block;
    border: 1px solid #DDDDDD;
    border-radius: 5px;	
    height: 115px;
}
.acc .user-bar img {
    display: block;
    margin: 0 auto;
    height: 110px;
    cursor: pointer;
}
.acc .user-bar p {
    position: relative;
    margin: 5px 0;
    padding: 2px 0;
    display: block;
    height: 30px;
    text-align: left;
    border-bottom: 2px solid #cc3333;
    cursor: pointer;
}
.acc .user-bar p > span {
    float: left;
    color: #444444;
}
.acc .user-bar p > i {
    float: right;
    vertical-align: middle;
}
.acc .user-bar ul {
    width: 100%;
}
.acc .user-bar ul i {
    display: inline-block;
    width: 20px;
}	
.user-bar a {
    margin:  5px 0 5px 15px;
}
/* Producatori Lista (Dashboard) */
.producatori {

}	
.producatori-list {

}
.producatori-item {
    margin: 15px 0 15px 0;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #DDDDDD;
}
.producatori-item-img {
    float: left;
    margin: 0 5px 5px 0;
    width: 20%;
    height: 70px;
    overflow: hidden;
    vertical-align: top;
}
.producatori-item-img img {
    width: 100%;
}
.producatori-item > strong {
    display: block;
    margin: 0 0 5px 0;
    font-size: 16px;
    color: #cc3333;
}
.producatori-item > span {
    display: block;
}
.producatori .profile-rating i {
    margin: 0 1px;
    font-size: 18px;
}	
.producatori-item a {
    float: right;
    display: block;
    padding: 5px 10px;
    background: #cc3333;
    color: #FFFFFF !important;
}
/* Pagina producatori & Gal-i */
.producatori-sort {
    float: right;
    display: block;
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    
    border-bottom: 2px solid #cc3333;
}
.producatori-sort:focus {
    outline: none;
}

/* Cosul dumnevoastra */
.cart-inn {

}
.cart-inn input {		
    display: inline-block;
    width: 100px;
    padding: 2px 5px;
    font-size: 14px;
    text-align: center;
    border: none;
    
    border-bottom: 2px solid #cc3333;
}
.cart-title {
    font-size: 16px;
    text-transform: uppercase;
    color: #cc3333;
}				

/* Footer */				
.footer {
    padding: 15px 0;
}		
.footer-socials {
    text-align: right;
}
.footer-socials a {
    margin: 0 2px;
    color: #000000 !important;
    font-size: 22px;
}
.footer-socials .fa-facebook-square {
    color: #3366cc;
}
.footer-socials .fa-twitter-square {
    color: #66ccff;
}
.footer-socials .fa-google-plus-square {
    color: #cc3300;
}





/* ADMIN */
.dd-list {
    margin: 0;
    padding: 0 15px;
}	
.dd-item {
    margin: 5px 0;
    padding: 5px 0;
    border-bottom: 2px solid #EEEEEE;
}
.dd-item i {
    margin: 0 0 0 5px;
    font-size: 16px;
}
.admin-panel {

}
.client-panel input, .client-panel select, .client-panel textarea ,
.admin-panel input, .admin-panel select, .admin-panel textarea {
    padding: 2px 5px;
    font-size: 14px;
    border: none;
    
    border-bottom: 2px solid #cc3333;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.admin-panel .btn, .client-panel .btn {
    border: 2px solid transparent;
    padding: 5px 15px;

}
.admin-panel .btn.btn-primary, .client-panel .btn.btn-primary {
    background: #66cc33;
    color: #FFFFFF;
}
.admin-panel .btn.btn-default, .client-panel .btn.btn-default {
    background: #cc3333;
    color: #FFFFFF;
}

.admin-panel input[type="radio"],  .client-panel input[type="radio"] {			
    display: none;
}
.admin-panel .lbl,  .client-panel .lbl {
    display: block;
    width: 100%;
    padding: 5px 15px;
    background: #FFFFFF;
    color: #cc3333;
    border: 1px solid #cc3333;
    cursor: pointer;
}

.admin-panel input[type="radio"]:checked + .lbl, .client-panel input[type="radio"]:checked + .lbl {
    background: #cc3333;
    border: 1px solid #cc3333;
    color: #FFFFFF;
}

.admin-panel input:focus, .admin-panel button:focus, .admin-panel select:focus, .client-panel input:focus, .client-panel button:focus, .client-panel select:focus {
    outline: none !important;
}
.admin-panel .home-block .container {
    padding: 15px;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
}
.admin-panel .home-block .container .center-title {
    margin: 15px 0;
}


/* SELECT JUDET */
.select-judet-item {

}
.select-judet-item a {
    display: block;
    padding: 5px 15px;
    background: #cc3333;
    color: #FFFFFF !important;
}

.select-judet-item input[type="radio"] {			
    display: none;
}
.select-judet-item label {
    display: block;
}
.select-judet-lbl {
    display: block;
    margin: 15px 0;
    padding: 5px 15px;
    background: #FFFFFF;
    color: #cc3333;
    border: 1px solid #cc3333;
    cursor: pointer;
}

.select-judet-item input[type="radio"]:checked + .select-judet-lbl {
    background: #cc3333;
    border: 1px solid #cc3333;
    color: #FFFFFF;
}

.note-btn-group .btn {
    background: #EEEEEE !important;
    color: #444444 !important;
    padding: 2px 5px;
    font-weight: normal;
    font-size: 12px;
}


/* Temp USER-BLOCK */ 
.temp-user-block {
    margin: 0 0 15px 0;
    padding: 5px 0;
    background: #cc3333;
    color: #ffffff;
}
.temp-user-block a {
    
}
.go-back-btn {
    float: right;
    padding: 0 5px;
    background: #ffffff;
    color: #444444 !important;
    margin: 0 4px;
}


/* Scroll Menu */
.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 0 0;
    background: rgba(255,255,255,.95) url(../images/national_pattern.png) repeat-x bottom;
    z-index: 99999;
}
.logo-min {
    
}
.logo-min img {
    height: 70px;
}
.lang-min {
    text-align: right;
    width: 100%;
}
.menu ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu ul > li {
    margin: 15px 10px;
    display: inline-block;
}

#donate-form .fake-radio img
{
    position: relative;
}

#donate-form .fake-radio input[type="radio"]
{
    position: absolute;
    top: 47%;
    display: block !important;
}

.modal {
    z-index: 200000 !important;
}

.big-popover .popover
{
    max-width: 450px;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 7px 5px !important;
}

.gal-producatori .profile-item-img
{
    height: 145px;
}

.gal-producatori .profile-item h3
{
    font-size: 12px;
    margin-bottom: 5px;
}

.gal-producatori .profile-item p
{
    font-size: 10px;
}