@media screen and (max-width:992px) {

    .user-bar {
        margin: 30px 0;
        display: none;
    }
    .user-bar a {
        margin: 5px 15px;
        display: block;
        padding: 10px 15px;
        background: #cc3333;
        color: #ffffff !important;
        text-align: center;
    }
    
    .register-page {
        
    }
    .register-page .row {
        margin: 0 !important;
    }
    .register-page .login-lbl {
        display: block;
    }
    .accept-check .control-label {
        cursor: pointer;
        width: 80% !important;
        text-align: center !important;
    }
    .center-title {
        margin: 30px 0 !important;
        text-align: center !important;
    }
    .bottom-menu {
        text-align: center !important;
    }
    .footer-socials {
        text-align: center !important;
    }
    .before-foot {
        text-align: center !important;
    }
    footer {
        text-align: center !important;
    }





}